.logo {
  display: flex;
  justify-content: center;
  margin: 20px 0px 50px 0px;
}
.page-selector-container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 75px;
}
.page-selector {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-weight: bold;
  font-family: monospace;
  font-size: 18px;
}
  .page-selector-container a {
    text-decoration: none;
    color: black;
  }
  .page-selector-container a:hover {
    text-decoration: none;
    color: #6fc1bc;
  }
  .page-selector-container a:visited {
    text-decoration: none;
    color: #6fc1bc;
  }

  footer{
  
    background-color: black;
    width: auto;
    height: 40px;
    color: white;
    padding: 25px;
    padding-left: 150px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 11px;
   
  

}

footer img {
  float: right;
  margin: 5px;
  margin-top: -25px;
}
.divEdit{
  margin-right: 100px;
}