@import url(https://db.onlinewebfonts.com/c/99822a8cb6673dc5a488266b4cd83e1e?family=Boca+Raton+Solid+Regular);
p {
    text-align:center;
    font-family:"Boca Raton Solid Regular";
    font-size: 40px;
    color: white;
    background-color: #000000;
    width: 200px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    padding : 10px;
    
}

.container-row {
    display: flex;
    justify-content:center;
    
}

.container1 img, .container2 img, .container3 img , .container4 img, .container5 img, .container6 img, .container7 img, .container8 img, .container9 img{
    width: 250px;
    height: 250px;
    border-radius: 5px;
    border: 2px solid #2f2f2f;
    margin: 7px;
}

